## Enable Mod Rewrite, this is only required once in each .htaccess file
#RewriteEngine On 
#RewriteBase / 
## Test for access to includes directory
#RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /includes/ .*$ [NC] 
## Test that file requested has php extension 
#RewriteCond %{REQUEST_FILENAME} ^.+\.php$ 
## Forbid Access 
#RewriteRule .* - [F,NS,L]
php_flag display_errors on
php_value error_reporting 9999
#php_value display_errors 1
RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l

RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
